html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: bisque;
}
nav img{
    width: 100px;
    height: 50px;
}
ul{
    display: flex;
    list-style: none;
    gap: 40px;
}
.admin-p{
    display: flex;
    background-color: aqua;
}